html{
	height: 100%;
	width: 100%;
}

body{
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Nunito', sans-serif;
	width:100%;
	height: 100%;
}
/* General */

.card{
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

h2.homepage-headings{
  margin-bottom: 100px;
}

.grey-bg {
  background: #FAFAFA;
}

.fa-info-circle {
  color: #4A90E2;
}

.featured-probe-card{
  height: 245px;
  margin-top: 15px;
}

/* --- Navbar --- */
.navbar{
	margin: 10px 0;
}

.navbar-container {
	padding-right: 50px;
  padding-left: 50px;
}

#spn-logo {
  width: 42px;
  height: 27px;
  font-size: 20px;
  font-weight: 900;
  font-family: Nunito;
  text-align: left;
  color: #676767 !important;
  color: var(--brownish-grey-two);
}

.navbar .link-text{
  font-size: 14px;
  letter-spacing: 0.3px;
  font-family: 'Nunito Sans';
  font-weight: 300;
  text-align: left;
  color: #212121;
  text-transform: uppercase;
  background: #fff;
}

/* ---- Hero banners --- */
div#hero-banner{
	height: 50%;
	border: solid 1px #f8f8f8;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

div#hero-banner{
	background: url('../img/hero_banner_image.png') no-repeat center;
	background-size: cover;
}

div#hero-banner h1.hero-banner {
  font-family: 'Nunito Sans';
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 1.2px;
  text-align: center;
  color: #212121;
  transform: translateY(-50%);
  line-height: 1.5;
}

/* Icons row section */
div#description-container{  
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin:100px auto;
}
div#description-container img{
  height: 150px;
  width: auto;
}

h6.about-spn-text {
  width: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}

/* Featured items / baner section ( section 3) */

div#featured-container{
  padding: 150px 0;
}

/* popular probes */
#probe-count-link{
  margin-top: 100px;
  font-size: 24px;
  text-decoration: underline;
  font-family: 'Nunito Sans';
}

div#probes-link-div {
    margin-top: 100px;
}

div#popular-probes-container {
    padding: 150px 0;
}

#probe-count  {
  font-family: 'Nunito Sans';
  font-size: 28px;
  font-weight: bold;
  line-height: 0.86;
  text-align: left;
  color: #4a90e2;
}

/* YOUTUBE video section */
#about-elixys{
  padding: 150px 0;
}

.embed-responsive .embed-responsive-16by9{

}

.about-elixys-columns{
  margin-top: 50px;
}

/* contact section */

#contact-form{
  padding: 150px 0;
}

#address-card{
  margin-top: 20px;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}


.thirty-four{
  margin-top: 34.66px;
}

#submit-button{
  margin-top: 19.66px;
}

/* Footer */

#footer{
  padding: 50px 0;
}

ul#footer-links li{
  line-height: 35px;
}

ul#footer-links a{
  color: #212121;
}


/* Maps page*/
.probe-card{
  border-radius: 1px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.12);
}

.probe-card-content{
  padding: 15px 15px 15px 25px;
}

.probe-card-content img{
  height: 150px;
  width: auto;
}

div.mapboxgl-ctrl-bottom-left{
  display: none;
}

div.map-body, #map{
  height: calc(100% - 50px);
  overflow-y: hidden;

}

.input-group-btn button{
  border-radius: 0 4px 4px 0;
}

div.search-results{
  margin-top: 30px;
}

.ui-widget button {
    font-size: 14px !important;
}
/* Responsive */

/* Phones */

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  
  
  div#hero-banner h1.hero-banner{
    transform: none !important;
  }

  h6.about-spn-text {
    width: 100%; 
    margin-left: 0;
    transform: none; 
    margin-top: 100px;
  }

  #contact-form-group{
    margin-top: 125px;
  }
}


/* Tablets */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .featured-images img{
      margin-left: 50%;
      transform: translateX(-50%);
    }
}

/* Custom responsive */

@media (min-device-width: 834px) {

    div.embed-responsive{
      padding-bottom: 315px !important;
      max-width: 500px !important;
    }
  }





@media (min-device-width: 1120px) {

    #popular-probes-container img{
      margin-left: 50%;
      transform: translateX(-50%);
    }
  }










